html, body {
    height: 100%;
    margin: 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #343a40;
    color: #fff;
    transition: left 0.3s;
    z-index: 9999;
    overflow-y: auto;
}

#content {
    margin-left: 250px;
    height: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    overflow-y: auto;
}

#sidebar.active {
    left: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li a:hover {
    background-color: #525a61;
    color: white;
    text-decoration: none;
}

#sidebarCollapse {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10000;
    transition: left 0.3s;
}

#sidebarCollapse.active {
    left: 250px;
}

#sidebarCollapse i {
    font-size: 1.2rem;
}

#sidebarCollapse span {
    margin-left: 10px;
    font-size: 0.9rem;
}